<h1><%= link_to 'Jack Stevenson', home_path%></h1>
<h6><%= link_to 'Projects I was involved in', projects_path%></h6> 
<h6><%= link_to 'My YouTube Account', youtube_path%></h6> 
<h6><%= link_to 'Blog of Updates', updates_path%></h6> 
<h6><%= link_to 'Download Resume', home_resume_url%></h6>  
<h6><%= link_to 'Contact Me!', contact_new_path%></h6> 

<p> Hello! My name is Jack Stevenson and I am someone with a vast imagination who also has a love and passion for video games. 
My final goal is to become a video game developer but as of now, I am currently searching for work where I can improve myself as a programmer and help people with whatever problems they have.
I am willing to offer my service for jobs that involved creating and editing software, like websites and applications. I am knowledgeable in Java, Python, and C# the most, but I have worked with JavaScript before, 
done some database work with programs such as Django and MySQL, and I am familiar with using Unity.
I also invest into video games and create YouTube videos about them as hobbies! I`m open to contact about business inquiries via my email. Thank you and I hope to do my best for the world!
</p>

