<h1>Jack Stevenson</h1>
<h6><%= link_to 'Projects I was involved in', projects_path%></h6> 
<h6><%= link_to 'My YouTube Account', youtube_path%></h6> 
<h6><%= link_to 'Blog of Updates', updates_path%></h6> 
<h6><%= link_to 'Download Resume', resume_path%></h6> 
<h6><%= link_to 'Contact Me!', contact_path%></h6> 

<h4>
    This page is for all the projects I either made myself or worked with other people to make.
</h4>

<ul>
</ul>

<p>
    This is a fangame based off Sonic the Hedgehog that I'm currently developing.
    It's still in early development, but I do always update this repository whenever I hit a notable addition.
    <%= link_to 'Link is here.',
        'https://github.com/LightningRpper/JackSonicProject',
        target: '_blank'
    %>
</p>