<h1>Jack Stevenson</h1>
<h6><%= link_to 'Projects I was involved in', projects_path%></h6> 
<h6><%= link_to 'My YouTube Account', youtube_path%></h6> 
<h6><%= link_to 'Blog of Updates', updates_path%></h6> 
<h6><%= link_to 'Download Resume', resume_path%></h6> 
<h6><%= link_to 'Contact Me!', contact_path%></h6> 

<h4>This is a blog where I will post updates about projects I am currently working on which include anything I am working on for a job, games I'm developing, videos I'm creating, and this very website.</h4>

<h3>
2/10/21
</h3>
<p>
This website is still in its very early stages of development. I have yet to figure out how to implement a function that allows my resume to be downloaded for employers and have full on video players for any videos I'm working on. I've also thought about making the resume downloaded a 'Read-Only' document and I would like to design all my website options as a full tool bar for easy navigation, no matter what page anyone is on. I've also continued to search for jobs because my internship is lasting until the end of May and I'm not banking on extending it again. Hope to continue innovating and improving in the future!
</p>