<h1><%= link_to 'Jack Stevenson', home_path%></h1>
<h6><%= link_to 'Projects I was involved in', projects_path%></h6> 
<h6><%= link_to 'My YouTube Account', youtube_path%></h6> 
<h6><%= link_to 'Blog of Updates', updates_path%></h6> 
<h6><%= link_to 'Download Resume', home_resume_url%></h6> 
<h6><%= link_to 'Contact Me!', contact_new_path%></h6> 

<h4> This is my YouTube channel, where I post videos about video games in my spare time.
I largely focus on countdowns and reviews, but I also like to give impressions on demos
and make montages of characters I enjoy playing as in Super Smash Bros!
</h4>

<p>
    <%= link_to 'Channel Trailer!',
    'https://youtu.be/tcSafl8KpOs',
    target: '_blank' 
    %>
</p>

<p>
    <%= link_to 'Check out my YouTube channel here!',
    'https://www.youtube.com/channel/UC3Qex1QJzXgW_quzJt3ihsw',
    target: '_blank' 
    %>
</p>

<p>
    <%= link_to 'My most recent video (My Video Plans for 2022)',
    'https://youtu.be/jZHOd4yjZrA',
    target: '_blank' 
    %>
</p>

<p>
    Featured countdowns
    <%= link_to 'Top 10 Favorite Sonic Games (30th Anniversary Edition)',
    'https://youtu.be/6FvnQj2xMWw',
    target: '_blank' 
    %>
    <%= link_to 'Top 25 Favorite Pokemon',
    'https://youtu.be/8wH3_50RuHo',
    target: '_blank' 
    %>
    <%= link_to 'Top 10 Favorite Nintendo 3DS Games',
    'https://youtu.be/t7-OXsKTNbo',
    target: '_blank' 
    %>
</p>

<p>
    Featured reviews
    <%= link_to 'Mario and Sonic at the Sochi 2014 Olympic Winter Games',
    'https://youtu.be/TpIK8hp63z4',
    target: '_blank' 
    %>
    <%= link_to 'The Donkey Kong Country Classic Trilogy',
    'https://youtu.be/0U939ZgWhO0',
    target: '_blank' 
    %>
        <%= link_to 'Bloodstained: Ritual of the Night',
    'https://youtu.be/P9YrZEKECYw',
    target: '_blank' 
    %>
</p>

<p>
    Featured Smash montages
    <%= link_to 'My Tride-and-True Main (Pikachu)',
    'https://youtu.be/cPEyXJ_OQgg',
    target: '_blank' 
    %>
    <%= link_to "It's All About Speed! (Sonic)",
    'https://youtu.be/u2BqgwyUN7k',
    target: '_blank' 
    %>
    <%= link_to 'I Make My Own Fate! (Corrin)',
    'https://youtu.be/NVkV8u-08eM',
    target: '_blank' 
    %>
</p>

<p>
    Featured Demo Impressions
    <%= link_to 'A New Tale Shall (A)Rise',
    'https://youtu.be/CgTRoVKqSuI',
    target: '_blank' 
    %>
    <%= link_to 'A Scarlet Nexus of Impression',
    'https://youtu.be/KxXh5Lz5rN8',
    target: '_blank' 
    %>
</p>