<!DOCTYPE html>
<html>
  <head>
    <title>Jack Stevenson's Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main role="main" class="container">
    <div class="container">
      <br>
      <% flash.each do |key, message| %>
        <p class="alert alert-<%= key %>"><%= message %></p>
    <% end %>
    </div>
    <%= link_to 'Jack Stevenson', home_path%> <%= link_to 'Projects I was involved in', projects_path%> <%= link_to 'My YouTube Account', youtube_path%> <%= link_to 'Blog of Updates', updates_path%> <%= link_to 'Download Resume', home_resume_url%> <%= link_to 'Contact Me!', new_contact_path%>
      <%= yield %>
    </main>
  </body>
</html>
